.form-section {
    padding: 15px;
    position: relative;
    .error-feedback {
        color: crimson;
        margin-bottom: 25px;
        select, input {
        // border: 2px solid crimson;
        margin-bottom: unset;
        }
    }
}